// Load basic configuration required for all profiles
includeConfig 'conf/base.config'
// Load the configuration for default executor (local)
includeConfig 'conf/local.config'
// Load the configuration for specific workflow profiles
includeConfig 'conf/workflow.config'
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'


profiles {
    // Overwrite the datasources full config with the test config
    test {
        includeConfig 'conf/test.config'
    }
    // Overwrite the local.config file with the profile supporting google-batch executor
    googleCloud {
        includeConfig 'conf/google-batch.config'
    }
}


// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0'
}
