// Load basic configuration required for all profiles
includeConfig 'conf/base.config'
// Load the configuration for default executor (local)
includeConfig 'conf/local.config'
// Load the configuration for specific workflow profiles
includeConfig 'conf/workflow.config'

profiles {
    // Overwrite the datasources full config with the test config
    test {
        includeConfig 'conf/test.config'
    }
    // Overwrite the local.config file with the profile supporting google-batch executor
    googleCloud {
        includeConfig 'conf/google-batch.config'
    }
}

manifest {
    name            = 'gentroFlow'
    contributors    = [
        [
            name: 'Szymon Szyszkowski',
            affiliation: 'Open Targets',
            email: 'ss60@sanger.ac.uk',
            github: 'project-defiant',
            contribution: [],
            orcid: '',
        ]
    ]
    homePage        = 'https://github.com/PROJECT-DEFIANT/gentroflow'
    description     = """Harmonisation of GWAS summary statistics using Gentropy"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0'
}



// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
