params {
    finngen_ukbb_meta {
        finngen_release = "r12"
        dataset         = "finngen_ukbb"
        endpoints       = "gs://finngen-public-data-r12/meta_analysis/ukbb/finngen_R12_MVP_UKBB_meta_analysis_mapping_with_definitions.tsv"
        study_prefix    = "FINNGEN_R12_UKBB_META"
        sumstat_prefix  = "gs://finngen-public-data-r12/meta_analysis/ukbb/summary_stats"
        sumstat_suffix  = "_meta_out.tsv.gz"
        tbi_suffix      = "_meta_out.tsv.gz.tbi"
    }
}
