// This configuration file defines the parameters for accessing the Finngen meta-analysis datasource.
params {
    finngen {
        version            = "r12"
        release_bucket     = "gs://finngen-public-data-${params.finngen.version}"
        version_upper      = "${params.finngen.version.toUpperCase()}"
        meta_analysis_path = "${params.finngen.release_bucket}/meta_analysis"
    }
}
