params {
    finngen {
        version        = "r12"
        release_bucket = "gs://finngen-public-data-${params.finngen.version}"
        version_upper  = "${params.finngen.version.toUpperCase()}"

        meta_analysis {
            path = "${params.finngen.release_bucket}/meta_analysis"

            ukbb {
                name               = "ukbb"
                study_prefix       = "FINNGEN_${params.finngen.version_upper}_UKBB_META"
                phenotype_endpoint = "${params.finngen.meta_analysis.path}/finngen_${params.finngen.version_upper}_meta_analysis_mapping_with_definitions.tsv"
                summary_statistics {
                    path   = "${params.finngen.meta_analysis.path}/${params.finngen.meta_analysis.ukbb.name}/summary_stats"
                    suffix = "_meta_out.tsv.gz"
                }
                summary_statistics_index {
                    path   = "${params.finngen.meta_analysis.path}/${params.finngen.meta_analysis.ukbb.name}/summary_stats"
                    suffix = "_meta_out.tsv.gz.tbi"
                }
            }
            mvp_ukbb {
                name               = "mvp_ukbb"
                study_prefix       = "FINNGEN_${params.finngen.version_upper}_MVP_UBK_META"
                phenotype_endpoint = "${params.finngen.meta_analysis.path}/finngen_${params.finngen.version_upper}_MVP_UKBB_mapping.tsv"
                summary_statistics {
                    path   = "${params.finngen.meta_analysis.path}/${params.finngen.meta_analysis.mvp_ukbb.name}/summary_stats"
                    suffix = "_meta_out.tsv.gz"
                }
                summary_statistics_index {
                    path   = "${params.finngen.meta_analysis.path}/${params.finngen.meta_analysis.mvp_ukbb.name}/summary_stats"
                    suffix = "_meta_out.tsv.gz.tbi"
                }
            }
        }
    }
}
