// This config file requires the loading of the finngen.config file
includeConfig 'finngen.config'

params {
    finngen {
        dataset      = "mvp_ukbb"
        endpoints    = "${params.finngen.meta_analysis_path}/finngen_${params.finngen.version_upper}_MVP_UKBB_mapping.tsv"
        study_prefix = "FINNGEN_${params.finngen.version_upper}_${params.finngen.dataset.toUpperCase()}_META"
        summary_statistics {
            path   = "${params.finngen.meta_analysis_path}/${params.finngen.dataset}/summary_stats"
            suffix = "_meta_out.tsv.gz"
        }
        summary_statistics_index {
            path   = "${params.finngen.meta_analysis_path}/${params.finngen.dataset}/summary_stats"
            suffix = "_meta_out.tsv.gz.tbi"
        }
    }
}
