params {
    finngen_mvp_ukbb_meta {
        finngen_release = "r12"
        dataset         = "finngen_mvp_ukbb"
        endpoints       = "gs://finngen-public-data-r12/meta_analysis/mvp_ukbb/finngen_R12_MVP_UKBB_mapping.tsv"
        study_prefix    = "FINNGEN_R12_MVP_UKBB_META"
        sumstat_prefix  = "gs://finngen-public-data-r12/meta_analysis/mvp_ukbb/summary_stats"
        sumstat_suffix  = "_meta_out.tsv.gz"
        tbi_suffix      = "_meta_out.tsv.gz.tbi"
    }
}
