// Configuration used for pipeline testing
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {

    workflow_name = "finngen_ukb_meta"

    finngen {
        version        = "r12"
        release_bucket = "gs://finngen-public-data-${params.finngen.version}"
        version_upper  = "${params.finngen.version.toUpperCase()}"

        meta_analysis {
            path = "${params.finngen.release_bucket}/meta_analysis"

            ukbb {
                study_prefix       = "FINNGEN_${params.finngen.version_upper}_UKBB_META"
                phenotype_endpoint = "${params.finngen.meta_analysis.path}/finngen_${params.finngen.version_upper}_meta_analysis_mapping_with_definitions.tsv"
                summary_statistics {
                    path   = "${params.finngen.meta_analysis.path}/ukbb/summary_stats"
                    suffix = "_meta_out.tsv.gz"
                }
                summary_statistics_index {
                    path   = "${params.finngen.release_bucket}/meta_analysis/ukbb/summary_stats"
                    suffix = "_meta_out.tsv.gz.tbi"
                }
            }
            mvp_ukbb {
                name               = "mvp_ukbb"
                study_prefix       = "FINNGEN_${params.finngen.version_upper}_MVP_UBK_META"
                phenotype_endpoint = "${params.finngen.meta_analysis.path}/finngen_${params.finngen.version_upper}_MVP_UKBB_mapping.tsv"
                summary_statistics {
                    path   = "${params.finngen.meta_analysis.path}/mvp_ukbb/summary_stats"
                    suffix = "_meta_out.tsv.gz"
                }
            }
        }
    }

    curation {
        version                  = "25.03"
        finngen_endpoint_mapping = "https://raw.githubusercontent.com/opentargets/curation/refs/tags/${params.curation.version}/mappings/disease/manual_string.tsv"
    }
}
