// Configuration used for pipeline testing
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}
// Test data configuration for finngen meta analysis ingestion workflows
params.finngen_mvp_ukbb_meta.endpoints = "gs://opentargets-gentroflow-test-data/finngen_meta_analysis/mvp_ukbb/finngen_R12_MVP_UKBB_mapping.tsv"
params.finngen_mvp_ukbb_meta.sumstat_prefix = "gs://opentargets-gentroflow-test-data/finngen_meta_analysis/mvp_ukbb/summary_stats"
params.finngen_ukbb_meta.endpoints = "gs://opentargets-gentroflow-test-data/finngen_meta_analysis/ukbb/finngen_R12_MVP_UKBB_mapping.tsv"
params.finngen_ukbb_meta.sumstat_prefix = "gs://opentargets-gentroflow-test-data/finngen_meta_analysis/ukbb/summary_stats"
