profiles {
    // NOTE! the profiles defined here are redundant with each other, just one can be specified at a time
    // Profiles defined in this file represent specific workflows that can be run with the pipeline.
    finngen_mvp_ukbb_meta {
        params {
            workflow_name = 'finngen_mvp_ukbb_meta_ingestion'
        }
        includeConfig 'datasources/finngen_mvp_ukbb_meta.config'
    }
    finngen_ukbb_meta {
        params {
            workflow_name = 'finngen_ukbb_meta_ingestion'
        }
        includeConfig 'datasources/finngen_ukbb_meta.config'
    }
}
